h1, h2, h3, h4, h5, h6, a, p, span, body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

* * {
    box-sizing: border-box;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.top-landing {
    background: url("../img/sections_background/section-1_header-landing.jpg") no-repeat fixed;
    background-size: cover;
    height: 1012px;
    min-width: 1160px;
}

.top-navbar {
    background-color: rgba(73, 71, 63, 0.6);
    height: 120px;
    width: 100%;
}

.top-navbar .container {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo .hexagon {
    background: url("../img/icons/hexagon_logo_bg.svg");
    width: 58px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.navbar-logo-title {
    margin-left: 8px;
    color: white;
    font-size: 32px;
}

.top-navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 683px;
    height: 100%;
}

.top-navbar-menu-item {
    box-sizing: content-box;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color .2s ease-in-out, border .2s ease-in-out;
    display: flex;
    align-items: center;
    height: 100%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.top-navbar-menu-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.search-item {
    background: url("../img/icons/search-solid.svg") no-repeat center;
    width: 22px;
    height: 22px;
}

.landing {
    height: calc(100% - 120px);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
}

.landing-slogan {
    font-size: 35px;
    margin-bottom: 45px;
}

.landing-title {
    font-size: 79px;
    margin-bottom: 37px;
}

.landing-subtitle {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 142px;
}

.landing-buttons-wrapper {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.zebra-navbar {
    min-width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-template-rows: 374px;
    align-content: center;
    text-align: center;
}

.zebra-button {
    fill: #18CFAB;
    background-color: #1c2a33;
    color: #18CFAB;
    border-top: 7px solid #18CFAB;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.zebra-navbar .zebra-button:nth-of-type(2n) {
    fill: white;
    background-color: #18CFAB;
    color: white;
    border-top: 7px solid white;
}

.zebra-button-icon {
    width: 100px;
    height: 98px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finger-icon {
    width: 58px;
    height: 97px;
}

.gem-icon {
    width: 93px;
    height: 75px;
}

.lamp-icon {
    width: 60px;
    height: 96px;
}

.device-icon {
    width: 99px;
    height: 76px;
}

.services {
    padding: 82px 0 103px;
}

.dropdown-navbar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, calc(100% / 6));
    margin-bottom: 24px;
}

.dropdown-navbar-item {
    position: relative;
    padding: 29px 0;
    font-size: 16px;
    color: #717171;
    background-color: #f8fcfe;
    text-transform: capitalize;
    border: 1px solid #eeeeef;
    border-left: transparent;
    text-align: center;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

.dropdown-navbar-item:first-of-type {
    border-left: 1px solid #eeeeef;
}

.dropdown-navbar-item:hover, .dropdown-navbar-item.selected-item {
    color: white;
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
}

.dropdown-navbar-item.selected-item:after {
    content: '';
    position: absolute;
    top: 75px;
    display: block;
    height: 0;
    left: 83px;
    border-top: 13px solid #18CFAB;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.dropdown-slider {
    width: 1142px;
}

.dropdown-item {
    display: flex;
    align-items: flex-start;
}

.dropdown-item-disabled {
    display: none;
}

.dropdown-item-image-wrapper {
    flex-basis: calc(100% / 6);
    margin-right: 20px;
}

.dropdown-item-image-wrapper img {
    width: 100%;
}

.dropdown-item-text {
    flex-basis: calc((100% / 6) * 5);
    line-height: 1.6;
    font-size: 14px;
    text-align: justify;
    color: #777777;
}

.sublanding {
    background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url("../img/sections_background/section-2_sublanding.jpg") no-repeat center;
    background-size: cover;
    height: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1160px;
}

.sublanding-content-wrapper {
    text-align: center;
}

.sublanding-title {
    font-size: 40px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.sublanding-subtitle {
    font-size: 16px;
    margin-bottom: 80px;
}

.portfolio {
    padding: 96px 0 90px;
    background-color: #f8fcfe;
    min-width: 1160px;
    border-bottom: 1px solid #e1e1e1;
}

.portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio-navbar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 71px;
}

.portfolio-navbar-item {
    cursor: default;
    position: relative;
    padding: 21px 28px;
    font-size: 14px;
    color: #717171;
    background-color: #ffffff;
    text-transform: capitalize;
    border: 1px solid #ebebeb;
    border-left: transparent;
    text-align: center;
}

.portfolio-navbar-item:first-of-type {
    border-left: 1px solid #ebebeb;
}

.portfolio-navbar-item:hover, .portfolio-navbar-item.selected-item {
    color: #18CFAB;
}

.portfolio-navbar-item:hover:before, .portfolio-navbar-item.selected-item:before {
    content: '';
    left: 0;
    top: -3px;
    display: block;
    border-top: 2px solid #18CFAB;
    position: absolute;
    width: 100%;
}

.portfolio-preview-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio-item {
    flex-basis: 25%;
    height: 206px;
    position: relative;
}

.portfolio-item-options {
    background-color: #f8fcfe;
    border-top: 3px solid #18CFAB;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    padding: 46px 0 50px;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
}

.portfolio-item:hover .portfolio-item-options {
    display: block;
    bottom: 0;
}

.portfolio-options-btn-link, .portfolio-options-btn-zoom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #18CFAB no-repeat center;
    border: 1px solid #18CFAB;
}

.portfolio-options-btn-link:focus, .portfolio-options-btn-zoom:focus {
    outline: none;
}

.portfolio-options-btn-link {
    background-image: url("../img/icons/link_white.svg");
    background-size: 15px 15px;
    margin-right: 5px;
}

.portfolio-options-btn-link:hover {
    background-image: url("../img/icons/link_green.svg");
    background-color: #f8fcfe;
}

.portfolio-options-btn-zoom {
    background-image: url("../img/icons/search-solid-white.svg");
    background-size: 15px 15px;
}

.portfolio-options-btn-zoom:hover {
    background-image: url("../img/icons/search-solid-green.svg");
    background-color: #f8fcfe;
}

.portfolio-options-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 34px auto 13px;
}

.portfolio-options-subtitle {
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    color: #8a8a8a;
}

/*news section*/

.news {
    min-width: 1160px;
}

.news .container {
    padding: 84px 0 132px;
}

.news-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 45px 29px;
}

.news-card {
    position: relative;
}

.news-card-date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203e38;
    color: white;
    font-size: 16px;
    padding: 14px 19px;
    line-height: 1.2;
    text-align: center;
    transition: background-color .1s ease-in-out;
}

.news-card-month {
    text-transform: capitalize;
}

.news-card .image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 100%;
    background-color: #f8fcfe;
    display: block;
}

.news-card-text-wrapper {
    padding: 14px 17px 12px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    color: #717171;
}

.news-card-text-wrapper .news-title {
    font-size: 18px;
    font-weight: 700;
    transition: color 0.1s ease-in-out;
}

.news-card-description {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 300;
}

.news-card-description .news-card-comments-counter:before {
    content: '|';
    display: inline-block;
    margin: 0 14px;
}

.news-card:hover .news-title {
    color: #18CFAB;
}

.news-card:hover .news-card-date {
    background-color: #18CFAB;
}

.customer-reviews {
    min-width: 1160px;
    background: linear-gradient(rgba(46, 74, 91, 0.5), rgba(46, 74, 91, 0.5)), url("../img/sections_background/section-3_reviews.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 98px 0 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span.logo-case {
    text-transform: none;
}

.reviews-slider {
    max-width: 1141px;
    margin: 0 auto;
}

.review-item-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 43px;
    color: #bbbbbb;
}

.review-item-text:before {
    content: '';
    display: inline-block;
    background: url("../img/icons/review_quots.svg") no-repeat center;
    width: 44px;
    height: 30px;
    margin-bottom: 43px;
}

.review-user-wrapper {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-user-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
}

.review-user-job {
    font-size: 13px;
    font-weight: 300;
    color: #bbbbbb;
    margin-bottom: 37px;
}

.review-item-userpic {
    border-radius: 50%;
    object-fit: cover;
    width: 143px;
    height: 143px;
    border: 3px solid #18CFAB;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}


.review-navbar-item {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.review-navbar-item img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.review-navbar {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.user-reviewer img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.user-reviewer:hover img {
    box-shadow: 0 0 2px 5px rgba(31, 218, 181, 0.4);
}

.user-reviewer {
    transition: transform 0.3s ease-in-out;
    width: 62px;
    height: 62px;
}


/*navigation bar controls of review section*/

.review-navbar-button {
    border: 1px solid #bbbbbb;
    transform-origin: center;
    font-size: 0;
    line-height: 0;
}

.review-navbar-button:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.review-navbar-arrow {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-left: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

.review-navbar-button:hover .review-navbar-arrow {
    border-color: white;
}

.navigation-left {
    transform: rotate(45deg);
    margin: 11px 10px 11px 12px;
}

.navigation-right {
    transform: rotate(-135deg);
    margin: 11px 12px 11px 10px;
}


/*reassigned new styles for slick slider*/

.review-navbar .slick-slide:focus, .review-item:focus {
    outline: none;
}

.review-navbar .slick-list {
    height: 100px;
    padding: 20px 50px !important; /* without this important userpics is cutting at the top*/
}

.review-navbar .slick-current .user-reviewer, .review-navbar .user-reviewer:hover {
    transform: translateY(-11px);
}

.review-navbar .slick-current .user-reviewer img {
    border: 2px solid #18CFAB;
}

.review-navbar .slick-next, .review-navbar .slick-prev {
    content: '';
    height: 31px;
    width: 31px;
    border: 1px solid #bbbbbb;
    transform-origin: center;
    font-size: 0;
    line-height: 0;
}

.review-navbar .slick-prev {
    left: -40px;
}

.review-navbar .slick-next {
    right: -60px;
}

.review-navbar .slick-next:hover, .review-navbar .slick-prev:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.review-navbar .slick-next:before, .review-navbar .slick-prev:before {
    content: '';
    width: 7px;
    height: 7px;
    display: inline-block;
    border-left: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    position: relative;
}

.review-navbar .slick-next:before {
    left: -2px;
    transform: rotate(-135deg);
}

.review-navbar .slick-prev:before {
    right: -2px;
    transform: rotate(45deg);
}

.review-navbar .slick-slide {
    margin-left: 78px;
}


/*section with title 'Gallery Of Best Images' */

.gallery {
    background-color: #f8fcfe;
    padding: 97px 0 81px;
    min-width: 1160px;
}

.gallery .container {
    text-align: center;
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 950px;
}

.gallery-item {
    margin: 0 9px 18px;
    overflow: hidden;
    width: calc((100% - 54px) / 3);
}

.gallery-item img {
    width: 100%;
}

.subgallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 3px;
}

.subgallery-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.bigger-subgal-item1 {
    grid-column: 1/4;
}

.bigger-subgal-item2 {
    grid-column: 4/7;
}

/*sizes for extra small items in sub-gallery of gallery section*/

.small-subgal-item:nth-of-type(3n) {
    grid-column: 1/3;
}

.small-subgal-item:nth-of-type(3n + 1) {
    grid-column: 3/5;
}

.small-subgal-item:nth-of-type(3n + 2) {
    grid-column: 5/7;
}

/*bottom gap for extraloader button*/

.gallery .extra-loader {
    margin-top: 67px;
}


.bottom-bar {
    font-weight: 300;
    background-color: #22353f;
    height: 108px;
    min-width: 1160px;
    width: 100%;
    display: flex;
    color: #aeaeae;
    align-items: center;
    text-align: center;
}

/*------------here is the final bottom code--------------*/

/*default properties for multiple used elements*/

.section-title {
    font-size: 36px;
    color: #4e4e4e;
    text-transform: capitalize;
    text-align: center;
}

/*green double lines under section title*/
.section-title:after {
    content: '';
    display: block;
    position: relative;
    width: 75px;
    border-top: 1px solid #18CFAB;
    right: 6px;
    margin: 28px auto 75px;
    box-shadow: 12px 4px 0 0 #18CFAB;
}


/*.section-title:before {*/
/*    !*content: '';*!*/
/*    display: block;*/
/*    position: relative;*/
/*    width: 75px;*/
/*    height: 5px;*/
/*    border-bottom: 1px solid #18CFAB;*/
/*    margin: 0 auto;*/
/*    top: 80px;*/
/*    left: 8px;*/
/*}*/


/*short classes fot titles, double colored strings, spans, headers etc.*/

.txt-white {
    color: white;
}

.txt-mint {
    color: #18CFAB;
}

.txt-bold {
    font-weight: 700;
}

/*backgrounds used for buttons*/
.bg-blue {
    background-color: #00cbf6;
}

.bg-mint {
    background-color: #18CFAB;
}

/*all fake buttons based on <a> tag with some words inside*/

.fake-button {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 25px 0;
    color: white;
    width: 166px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0 -4px 0 0 white;
}

.fake-button:hover {
    filter: brightness(0.8);
}

.fake-button.extra-loader {
    margin-top: 70px;
    padding: 22px 0;
    box-shadow: none;
}

.fake-button.extra-loader:before {
    content: '';
    display: inline-block;
    background: url("../img/icons/plus_extraloader.svg");
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 16px;
}